@{
    ViewData["Title"] = "Home Page";
}
    <form id="mainForm" action="/" method="post">
        <input type="text" name="myName" />
        <button type="submit" id="btnSubmit">提交</button>
    </form>
    @section Scripts{
    
    <script src="/Assets/Scripts/jquery.form.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                url: '/home/create',
                beforeSubmit: function () {
                    console.log('提交前')
                },
                success: function (data) {

                }
            };
          
            //$('#mainForm').ajaxForm()
            $('#mainForm').submit(function () {
                $(this).ajaxSubmit(options);
            });

        })
    </script>
}
