<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Assets/Style/material-dashboard.min.css?v=2.0.2" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
     
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
</head>
<body>

    @*<div class="off-canvas-sidebar">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white" id="navigation-example">
            <div class="container">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#">Quark Doc</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="true" aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        @{
                            if ("True" == "True")
                            {
                                <li class="nav-item">
                                    <a href="" class="nav-link" data-toggle="modal" data-target="#myModal">
                                        <i class="material-icons">add</i>
                                        新建项目
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/User" class="nav-link">
                                        <i class="material-icons">people</i>
                                        团队管理
                                    </a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a href="/ResetPassword" class="nav-link">
                                <i class="material-icons">lock_open</i>
                                修改密码
                            </a>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- Classic Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">新建项目</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <form id="NewApplicationForm" method="post" action="">
                        <div class="modal-body">
                            <p>
                                允许新建多个项目目录、多个项目页面。QuarkDoc支持最多三层目录。
                                可以用来做API文档、说明文档、数据字典等等。
                            </p>
                            <div class="form-group bmd-form-group is-filled">
                                <div class="card-body ">
                                    <div class="form-group">
                                        <label for="projectName" class="bmd-label-floating"> 项目名 *</label>
                                        <input type="text" class="form-control" id="projectName" name="projectName" required="true" maxlength="20">
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="bmd-label-floating"> 项目描述 *</label>
                                        <input type="text" class="form-control" id="description" name="description" required="true" maxlength="100">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-link">Lets Go</button>
                            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!--  End Modal -->

        <div class="wrapper wrapper-full-page">
            <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../Assets/Images/timg.jpg'); background-size: cover; background-position: top center;">
                <div class="container" id="applicationList">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div id="app">
                                <p>{{person.name}}</p>
                                <p>{{person.age}}</p>
                                <input type="text" name="name" v-bind:value="person.name" v-model="person.name" />
                            </div>
                        </div>

                    </div>
                    <br /><br /><br /><br />
                    <div class="row">
                        <div class="col-xl-4">
                            <button onclick="applicationTool.FindApplication(-1)" class="btn btn-round btn-rose">
                                <span class="btn-label">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                </span>
                                上一页
                            </button>
                        </div>
                        <div class="col-xl-4" align="center">
                            <button class="btn btn-round btn-rose">
                                当前:<span></span>页.共:<span></span>页
                            </button>
                        </div>
                        <div class="col-xl-4">
                            <button onclick="applicationTool.FindApplication(1)" class="btn btn-round btn-rose" style="float:right;">
                                下一页
                                <span class="btn-label">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </span>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    

    
@RenderBody()

<script src="~/lib/jquery/dist/jquery.js"></script> 
<script src="~/Assets/Scripts/core/popper.min.js" type="text/javascript"></script>
<script src="~/Assets/Scripts/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="~/Assets/Scripts/plugins/jquery.bootstrap-wizard.js"></script>
<!-- Plugin for the momentJs  -->
<script src="~/Assets/Scripts/plugins/moment.min.js"></script>
<environment include="Development">

    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Assets/Scripts/plugins/sweetalert2.js"></script>
    
    <script src="~/Assets/Scripts/Common.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Assets/Scripts/plugins/sweetalert2.js" asp-append-version="true"></script>
    <script src="~/Assets/Scripts/Common.js" asp-append-version="true"></script>
</environment>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data() {
            return {
                person: {
                    name: 'john',
                    age: 12
                }
            }
        },
        methods: {
            showDetail: function() {
                $.sw("success-message",
                    "项目创建成功!",
                    function() {
                        location.reload();
                    });
            }
        },
        created() {

        }
    })
</script>
@RenderSection("Scripts", required: false)
</body>
</html>
